################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcelTest/.vs/ExcelTest/v16
/ExcelTest/ExcelTest/obj
/ExcelTest/ExcelTest.sln
